<div class="card mt-4 mb-4">
  <div class="card-body">
    <h4>{{postagem.titulo}}</h4>
    <p>{{postagem.conteudo}}</p>
    <hr>  
    <small>Data de publicação: {{postagem.data}}</small>
  </div>
</div>